doctype html
html
  head
    title Said Dance Academy
    block scripts
    block style
  body
    nav#navbar 
        ul
            div#logo
                img(src="/static/Images/logo1.png", alt="Image Not Found")
                | SDA 
            li #[a(href = "/") Home]
            li #[a(href = "/") About]
            li #[a(href = "/") Services]
            li #[a(href = "/") Class Info]
            li #[a(href = "/contact") Contact Us]
            li #[a(href="/userdata") User Info]
            div.nav-right  <!-- New div for right-aligned buttons -->
              a.btn(href="/login") Login
              a.btn(href="/register") Register

    block content
    footer#footer
        p copyright &copy; 2024 SaidsDanceAadamy.com | All Right Reserved
      
