//- index.pug
doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar 
        ul 
            li #[a(href = "/") Home]
            li #[a(href = "/") About]
            li #[a(href = "/") Services]
            li #[a(href = "/") Class Info]
            li #[a(href = "/") Contact Us]
    
    section#IntroSection 
        div   Welcome To Said's Dance Academy 
        div  
            p Where passion and movement unite
    section#SponserSection 
        h2 Our Sponser
    footer#footer
        p copyright &copy; All Right Reserved
    script
      include ../static/index.js