@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar {
    /* background-color: yellow; */
    background-color: rgba(248, 80, 80, 0.792);
    padding: 7px 17px;
    font-family: "Montserrat";
    position: sticky;
    top: 0;
    /*keeping navbar sticky ,assigning top 0 is must*/
    font-weight: bold;
}
.alert:empty {
    display: none;  // Hide any alert div that has no content
}

#navbar ul {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

#navbar ul #logo {
    display: flex;
    align-items: center;
    margin: 0px 7px;
    margin-right: 7px;
    align-items: center;
    margin-right: 52px;
}

#navbar ul #logo img {
    height: 50px;
    width: 60px;
}

#navbar ul li {
    list-style: none;

}

#navbar ul li a {
    color: black;
    text-decoration: none;
    padding: 13px 22px;
    font-size: 19px;
}
#navbar ul li a:hover {
    color: white;
}


#IntroSection {
    color: black;
    text-shadow: 0px 0px 2px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Noto Serif", serif;
    font-weight: 1000;
  font-size: 48px;
    height: 400px;
}

#IntroSection::before {
    content: "";
    background: url("/static/dance-studio-Bg-Image.jpg") no-repeat center /cover;
    height: 400px;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.75;
}

p {
    font-size: 24px;
    text-shadow: 0px 0px 2px white;
}

#MissionSection {
    height: 300px;
    /* background-color: lightsalmon; */
    background-color: rgba(248, 80, 80, 0.792);
    text-align: center;
    font-family: "Noto Serif", serif;
}

.card-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img {
    height: 134px;
    padding: 0 9px;
    margin: 5px 9px;
}

.card-img img {
    height: inherit;
}

.card-content {
    padding: 2px 8px;
    height: 91px;
}

.card-content p {
    font-size: 19px;
}

#MissionSection h2 {
    padding: 10px;
}

#MissionSection h3 {
    margin: 10px;
}

.card {
    width: 30%;
    border: 2px solid black;
    border-radius: 27px;
    background-color: lightpink;
    height: 220px;
    display: inline-block;
    margin: 8px 12px;
    font-family: "Noto Serif", serif;
}

.card h3 {
    margin-top: 20px;
}

#SponserSection {
    height: 255px;
    background-color: rgba(192, 45, 45, 0.792);
    text-align: center;
    font-family: "Noto Serif", serif;
}

#SponserSection h2 {
    padding-top: 24px;
}

#sponsers {
    height: 150px;
    width: 1200px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.spImage {
    height: 80%;
    margin: 0px auto;
}

.small-sp{
    height: 50%;
}
.big-sp{
    height: 114%;
}


#footer {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-family: "Noto Serif", serif;
    font-size: 15px;
    color: white;
}