.myForm {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
}

.myForm input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.myForm button {
  padding: 10px;
  /* background-color: #f85050; */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.myForm button:hover {
  background-color: #0056b3;
}

#navbar ul {
  padding-left: 0 !important; /* Reset the padding applied by Bootstrap */
  margin-bottom: 0rem !important; /* Reset the margin applied by Bootstrap */
}

div h2{
  text-align: center;
  font-weight: bold;
  /* font-size: 1.8rem; */
  padding: 5px;
}



/* Footer styling */
#footer {
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding-top: 8px;
  bottom: 0;
}

footer p {
  font-family: "Noto Serif", serif;
  font-size: 15px;
  color: white;
}



/* h2{
    font-family: "Montserrat";
    text-align: center;
    font-size: 30px;
}
.message {
  color: green;
  font-weight: bold;
}


.myForm{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 100%;
}

.myInput{
    width: 40%;
  padding: 8px;
  margin: 6px;
  border: 2px solid black;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
}
.myInput:hover{
  border: 2px solid #007bff;
}
.container{
    margin: 19px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn{
    padding: 7px 21px;
  border: 2px solid #0056b3;
  border-radius: 10px;
  margin: 10px;
  color: white;
  background-color: #007bff;
  font-size: 19px;
  font-family: "Montserrat";
  font-weight: bold;
  cursor: pointer;
}
.btn:hover{
    background-color: #0056b3;
    border: 2px solid #007bff;
} */